streamlit
numpy
pandas
matplotlib
seaborn
scikit-learn
underthesea
gensim
pandas_profiling
pyspark
nltk
findspark
pyngrok
apt update
apt-get install openjdk-11-jdk-headless -qq > /dev/null
wget -q http://archive.apache.org/dist/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
tar -xvf spark-3.3.0-bin-hadoop3.tgz
